<section class="section pt-2 pb-0 has-background-white">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul class="container">
        <li class="is-active has-text-weight-bold">
          <a href="/" aria-current="page">
            <span class="icon is small">
              <i class="fa fa-home" aria-current="hidden"> </i> </span>Home
          </a>
        </li>
        <li>
          <a href="/search" class="has-text-grey"><span class="icon is small">
              <i class="fa fa-running" aria-current="hidden"> </i> </span><span>Trails</span></a>
        </li>
        <li>
          <a href="./strength-training.html" class="has-text-grey"><span class="icon is small">
              <i class="fa fa-dumbbell" aria-current="hidden"></i>
            </span>
            <span>Strength Training Workouts</span></a>
        </li>
        <li>
          <a href="./weekly-planner.html" class="has-text-grey"><span class="icon is small">
              <i class="fa fa-calendar" aria-current="hidden"></i>
            </span>
            <span>Profile</span></a>
        </li>
      </ul>
    </nav>
  </section>