<footer class="footer">
    <div class="container">
        <div class="row">
            <h1 class="is-size-5" id="connect">Connect</h1>
        </div>
        
        <div class="columns">
            <div class="column is-2">
                <strong><h2>Alan Gaudet</h2></strong>
                <ul id="page-links">
                    <li>
                        <span class="icon"><i class="fa fa-github" aria-hidden="true"></i><a class="has-text-grey"
                                rel="noopener noreferrer" target="_blank"
                                href="https://github.com/amgaudet"></span>Github</a>
                    </li>
                    <li>
                        <span class="icon"><i class="fab fa-linkedin-in"></i><a class="has-text-grey"
                                rel="noopener noreferrer" target="_blank"
                                href="https://www.linkedin.com/in/alan-gaudet-256a53210/"></span>LinkedIn</a>
                    </li>
                </ul>
            </div>

            <div class="column is-2">
                <h1 class="is-size-5" id="connect"></h1>
                <strong><h2>Alexandra Hurst</h2></strong>
                <ul>
                    <li>
                        <span class="icon"><i class="fa fa-github" aria-hidden="true"></i><a class="has-text-grey"
                                rel="noopener noreferrer" target="_blank"
                                href="https://github.com/AlNHurst"></span>Github</a>
                    </li>
                    <li>
                        <span class="icon"><i class="fab fa-linkedin-in"></i><a class="has-text-grey"
                                rel="noopener noreferrer" target="_blank"
                                href="https://www.linkedin.com/in/alexandra-hurst-28b185130"></span>LinkedIn</a>
                    </li>
                </ul>
            </div>

            <div class="column is-6">
                <h1 class="is-size-5" id="connect"></h1>
                <strong><h2>Jess Greene</h2></strong>
                <ul id="page-links">
                    <li>
                        <span class="icon"><i class="fa fa-github" aria-hidden="true"></i><a class="has-text-grey"
                                rel="noopener noreferrer" target="_blank"
                                href="https://github.com/jessgreene9"></span>Github</a>
                    </li>
                    <li>
                        <span class="icon"><i class="fab fa-linkedin-in"></i><a class="has-text-grey"
                                rel="noopener noreferrer" target="_blank"
                                href="http://www.linkedin.com/in/jess-greene-241139211"></span>LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row has-text-centered">
            &copy; 2021 Alan Gaudet, Alexandra Hurst & Jess Greene
        </div>
    </div>
</footer>