<footer class="footer has-background-white">
    <div class="container">
        <div class="columns mb-6">
            <div class="column is-2">
                <h1 class="is-size-5" id="connect">Connect</h1>
                <h2>Alan Gaudet</h2>
                <ul id="page-links">
                    <li>
                        <a class="has-text-grey" href="https://github.com/jessgreene9">GitHub</a>
                    </li>
                    <li>
                        <a class="has-text-grey" href="http://www.linkedin.com/in/jess-greene-241139211">LinkedIn</a>
                    </li>
                </ul>
            </div>

            <div class="column is-2">
                <h1 class="is-size-5" id="connect"></h1>
                <br>
                <h2>Alexandra Hurst</h2>
                <ul>
                    <li>
                        <a class="has-text-grey" href="https://github.com/AlNHurst">Github</a>
                    </li>
                    <li>
                        <a class="has-text-grey"
                            href="https://www.linkedin.com/in/alexandra-hurst-28b185130">LinkedIn</a>
                    </li>
                </ul>
            </div>

            <div class="column is-6">
                <h1 class="is-size-5" id="connect"></h1>
                <br>
                <h2>Jess Greene</h2>
                <ul id="page-links">
                    <li>
                        <a class="has-text-grey" href="https://github.com/jessgreene9">GitHub</a>
                    </li>
                    <li>
                        <a class="has-text-grey" href="http://www.linkedin.com/in/jess-greene-241139211">LinkedIn</a>
                    </li>
                </ul>
            </div>

            <div class="column is-2">
                <h1 id="page-links" class="is-size-5">Explore</h1>
                <a href="/">Home</a><br />
                <a href="/search">Trails</a><br />
                <a href="/profile">User Profile</a><br />
            </div>
        </div>
        <div class="row has-text-centered">
            &copy; 2021 Alan Gaudet, Alexandra Hurst & Jess Greene
        </div>
    </div>
</footer>