<section id="taglineDisplay" class="hero">
    <div class="hero-body">
        <p class="title has-text-white">
            Trail Hound
        </p>
        <p class="subtitle has-text-white">
           Let us find the trails for your next adventures!
        </p>
    </div>
</section>