<nav class="navbar is-transparent" role="navigation">


    <div class="navbar-menu" id="nav-links">
        <div class="navbar-start">
            <a href="/" class="navbar-item is-size-5">Home</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-size-5">Trails</a>
                <div class="navbar-dropdown">
                    {{#each locations as |location|}}
                    {{> location-names}}
                    {{/each}}
                </div>
            </div>
        </div>

        {{#if logged_in}}
        <div class="navbar-end">
            <div class="navbar-item">
                <h3>Welcome back, {{ users.[0].name }}! </h3>
            </div>
            <button id="logoutBtn" class="button is-danger">
                <strong>Log out</strong>
            </button>
        </div>
        {{else}}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/login" class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a href="/login" class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</nav>