<section class="hero">
    <div class="hero-body">
        <p class="title has-text-white">
            Hiking Trail Application
        </p>
        <p class="subtitle has-text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dignissimos.
        </p>
    </div>
</section>