<div class="section">
    <div class="columns is-multiline is-centered">
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src={{ image_url }} alt="Trail Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        {{ name }}
                        {{ distance }}
                        {{ difficulty }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="/trailsgallery">Trails Gallery</a>