<div class="column is-3">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img src="{{ galleries.[0].url }}" alt="Trail Image">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <ul>
          <li>
            {{ trail_name }}
          </li>
          <li>
            {{ distance }} miles
          </li>
          <li>
            {{ difficulty }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>