<div class="column is-4">
    <div class="card">
        <div class="card-image">
            <figure class="image">
                <img src="{{ galleries.[0].url }}" alt="Trail Image">
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                {{ trail_name }}
                {{ distance }}
                {{ difficulty }}
            </div>
        </div>
    </div>
   
</div>