<div class="section">
    <div class="container">
        <div class="columns is-multiline is-vcentered is-centered">
            <div class="column is-8">
                <div class="card">
                    <article class="message is-info">
                        <div class="message-body">
                            {{!-- User comment variable --}}
                        </div>
                    </article>
                </div>
            </div>

            <div class="column is-8">
                <div class="card">
                    <article class="message is-info">
                        <div class="message-body">
                            {{!-- User comment variable --}}
                        </div>
                    </article>
                </div>
            </div>

            <div class="column is-8">
                <div class="card">
                    <article class="message is-info">
                        <div class="message-body">
                            {{!-- User comment variable --}}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>