{{> navbar-hero }}

<div class="section">
  <div class="container">
    <div class="columns is-vcentered">
      {{#each trails as |trail|}}
      {{> hp-trails-details}}
      {{/each}}
    </div>
  </div>
</div>