
<div class="section">
    <div class="container">
        <figure>
            <img src="#" alt="#" />
        </figure>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="columns is-vcentered is-centered">
            <div class="column is-3">
                <div class="card">
                    <div class="card-content">
                        <p>Favorites</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-content">
                        <p>Trails Completed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
                <div class="card">
                    <div class="card-content">
                        <p>Suggested</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>