<div class="section">
    <div class="container">
        <div class="columns is-multiline is-vcentered is-centered">
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-6">
                <div class="card">
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam doloremque iste, veniam neque
                            eos corporis ipsa in aut, illum recusandae voluptatum. Aspernatur, aliquam? Possimus
                            quibusdam explicabo excepturi, veritatis rerum doloremque voluptatem! Deleniti aperiam
                            laboriosam officiis minima beatae exercitationem fuga corrupti nesciunt cumque saepe.
                            Libero, eligendi temporibus alias beatae magnam ad.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> user-comment}}