body {
    margin: auto;
    padding: 16px;
    background-color: hsl(9, 34%, 69%);
}

.navbar {
    background-color: rgb(224, 199, 195);
    padding: 16px;
    border-radius: 10px;
}

#dropdown:hover {
    color: hsl(9, 34%, 69%);
}

.hero {
    height: 300px;
    width: 100%;
    /* margin-bottom: 25px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url("../images/hiking-trail.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
}

#area-cards {
    background-color: rgb(224, 199, 195);
    border-radius: 10px;
}

.content ul li {
    list-style: none;
}

.footer {
    background-color: rgb(224, 199, 195);
    border-radius: 10px;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.05); 
}
  
.is-on-right {
    transform: translateX(-30px);
}
  
.is-on-left {
    transform: translateX(30px);
}

#overlay-cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    z-index: 1;
}

.hidden {
    display: none;
}

.empty {
    display: none;
}

.empty p {
    color: red;
}
